
/* Hide input number arrows for Firefox */
input[type=number]{
    -moz-appearance: textfield;
}
/* Hide input number arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin: 0;
}
/* Remove arrow from navbar dropdown */
.dropdown-toggle::after {
    content: none;
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.navbar-custom {
    background-color: rgb(0,103,76);
}
.navbar-text {
    color: white;
    font-size: 23px ;
}
.btn-custom {
    background-color: rgb(0,103,76);
}
.btn-text{
    color: white;
}
.toggler-custom{
    border-color: white;
}
.buttonsOpt {
    align-items: center;
}
.btn{
    float: left;
    border: 1px;
    border-radius: 10px;
}
.Form{
    background-color: rgb(216, 221, 214);
    padding: 1em;
    margin: 0 -1em;
    border-radius: 0.5em;
}
.btn-logout-custom{
    background-color: rgb(216, 221, 214);
    font-size: 23px;
}
.input-group-text{
    border-radius: 10px;
}





