*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 103, 76);

    overflow: hidden;
}
.row{

    display: table;
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}
.container{
    width:max-content;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.btn1{
    border:none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgb(0,103,76);
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: white;
    border: 1px solid;
    color: rgb(27,85,12);
}